@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: linear-gradient(
    135deg,
    rgba(248, 250, 249, 0.8) 0%,
    rgba(104, 245, 182, 0.8) 10%,
    rgba(252, 252, 252, 0.6) 50%,
    rgba(255, 255, 129, 0.5) 70%
  );
  --foreground: #171717;

  --card-background: linear-gradient(
    135deg,
    #f8faf9cc 0%,
    rgba(104, 245, 182, 0.8) 10%,
    rgba(252, 252, 252, 0.6) 50%,
    rgba(255, 255, 129, 0.5) 70%
  );
  --card-foreground: #171717;
}

.vital-card-gradient-bg {
  background: var(--card-background);
  color: var(--card-foreground);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      135deg,
      rgba(248, 250, 249, 0.8) 0%,
      rgba(104, 245, 182, 0.8) 10%,
      rgba(252, 252, 252, 0.6) 50%,
      rgba(255, 255, 129, 0.5) 70%
    );

    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #22c55e; /* Green color */
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #22c55e; /* Green color */
  border-radius: 50%;
  cursor: pointer;
}