@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(164deg, #14BD6B 0%,#F1E4AB 44%, #FFCC00 100%);
  color:#14BD6B  ;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
}

#report p{margin-top: 10px;}
#sunnry span{color: #FFCC00;}
  


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
